body{
  background: white;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  font-family:  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  sans-serif;
  color: black;
}
.navbar{
  background-color: dodgerblue;
}
.navbar-brand{
  color:white;
}
.search-btn{
  width: 400px;
  height: 40px;
  border: 1px solid dodgerblue;
  background-color: white;
  color: black;
}
.search-btn:hover{
  background-color: grey;
  color:white;
}
.col-md-4{
  text-align: center;
}